[MESSAGES CONTROL]
disable=consider-using-f-string,consider-using-with,invalid-name,too-few-public-methods,too-many-ancestors,too-many-instance-attributes,unnecessary-pass

[CLASSES]
defining-attr-methods=__init__,__new__,setUp,__post_init__

[TYPECHECK]
generated-members=argparse.Namespace.*
